/*--------------------------------------
Contacta.css

-Estilos para la sección de contacto de la web
----------------------------------------*/

/* Estilos para el contenedor de la sección de contacto */
.Contacto{
    width: 100%;
    margin: auto;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    margin-top: 4rem;
}

/* Encabezado de la sección de contacto */
.Contacta-h1{
    font-size: 2.5em;
    font-weight: bolder;   

    color: rgb(175, 6, 6);
}

/* Estilos para la sección de contacto */
.Contacta-section{
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-bottom: 3rem;
}

/* Estilos para el contenedor dentro de la sección de contacto */
.Contacta-container{
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 3rem;

    text-align: center;
}

/* Estilos para los elementos de contacto */
.Contacta-tlf , .Contacta-email , .Direccion-oficina{
    width: 25%;
    padding: 1rem;
    border-radius: 10px;

    background-color: rgb(175, 6, 6);
}

/* Estilos para los encabezados de los elementos de contacto */
.Calle-h2 , .Correo-h2 , .Telefono-h2{
    margin-bottom: 2rem;
   
    font-family: Century Gothic, Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    font-weight: bold;
    text-decoration: underline;

    color: rgb(175, 6, 6);
    color: white;
}

/* Estilos para los párrafos de los elementos de contacto */
.Calle-p, .Ciudad-p, .Correo-a , .Telefono-a{
    font-size: 1.1em;

    color: white;
}

/* Estilos para los enlaces de teléfono y correo */
.Telefono-a:hover, .Correo-a:hover{
    text-decoration: underline;
}

/* Estilos para el contenedor de la imagen de la oficina */
.Oficina-container{
    width: 60%;
}

/* Media query para pantallas de ancho inferior a 1328px */
@media(max-width: 1328px){
    
    .Contacta-tlf , .Contacta-email , .Direccion-oficina{
        width: 30%;
    }

    .Calle-h2 , .Correo-h2 , .Telefono-h2{
        font-size: 1.4em;
    }
}

/* Media query para pantallas de ancho inferior a 1024px */
@media(max-width: 1024px){
    
    .Contacta-tlf , .Contacta-email , .Direccion-oficina{
        width: 35%;
    }

    .Calle-h2 , .Correo-h2 , .Telefono-h2{
        font-size: 1em;
    }

    .Calle-p, .Ciudad-p, .Correo-a , .Telefono-a{
        font-size: .9em;
    }

    .Oficina-container{
        width: 80%;
    }
}

/* Media query para pantallas de ancho inferior a 768px */
@media(max-width: 768px){

    .Contacta-container{
        display: flex;
        flex-flow: column;
    }
    
    .Contacta-h1{
        width: 80%;

        font-size: 2.3em;
        text-align: center;
        line-height: 1;
    }

    .Contacta-tlf , .Contacta-email , .Direccion-oficina{
        width: 50%;
    }

    .Calle-h2 , .Correo-h2 , .Telefono-h2{
        font-size: 1.2em;
    }

    .Calle-p, .Ciudad-p, .Correo-a , .Telefono-a{
        font-size: 1em;
    }

    .Oficina-container{
        width: 100%;
    }
}

/* Media query para pantallas de ancho inferior a 480px */
@media(max-width: 480px){
    
    .Contacta-h1{
        width: 70%;
        
        font-size: 2em;
        text-align: center;
    }

    .Contacta-tlf , .Contacta-email , .Direccion-oficina{
        width: 90%;
    }

    .Oficina-container{
        width: 100%;
    }
}

/* Media query para pantallas de ancho inferior a 320px */
@media(max-width: 320px){
    
    .Calle-h2 , .Correo-h2 , .Telefono-h2{
        font-size: 1em;
    }

    .Calle-p, .Ciudad-p, .Correo-a , .Telefono-a{
        font-size: .8em;
    }
}