
.Mantenimiento{
    width: 80%;
    margin: auto;
}

.Solicitud-h2, .ColorToner-div {
    width: 35%;
}


.Comentarios-h2, .ComentarioToner-div{
    background-color: aqua;
    width: 45%;
}

.Boton-h2 , .Botones-toner{
    width: 20%;
}

.Solicitud-comentario{
    width: 80%;
    margin: auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    

}
.SolicitudToner-ul{
    width: 80%;
    margin: auto;
    
}
.SolicitudToner-li{
    background-color: rgb(255, 182, 182);
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    text-align: start;
    
    

}
.Botones-toner{
    
    background-color: aquamarine;
}
.Toner-update{
    background-color: rgb(71, 223, 122);
    cursor: pointer;
    margin: 1rem;
}
.Toner-delete{
    background-color: rgb(255, 153, 0);
    cursor: pointer;
    margin: 1rem;
}


.Add-container{
    background-color: lightsalmon;
    margin: auto;
    width: 50%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
    padding: 1rem;
   

}
.AddToner-h2{

}
.AddToner-div{

}
.AddToner-form{

}

.Editar-container{
    background-color: rgb(118, 243, 113);
    margin: auto;
    width: 50%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
    padding: 1rem;
   
}
.EditarToner-h2{

}
.EditarToner-div{

}
.EditarToner-form{

}