/*--------------------------------------
Carrousel.css

-Carrousel de la sección de inicio.
----------------------------------------*/

/* Contenedor del carrousel */
.Carrousel{
    position: relative;
    width: 100%;
    margin: auto;
    overflow: hidden;
}

/* Contenedor de las imágenes */
.Carrousel-container{
    display: grid;
    grid-template-columns: repeat(auto-fit , minmax(300px , 1fr));
    min-height: 70vh;
    transition: all .5s ease;
}

/* Imágenes del carrousel */
.Photos{
    height: 70vh;
    object-fit: cover;
}

/* Botón para desplazar a la derecha las imágenes */
.Boton-right{
    position: absolute;
    top: calc( 50% - 2rem );
    right: 0;
    width: 4rem;
    height: 4rem;
    color: black;
    border: solid 2px rgb(0, 0, 0);
}

/* Botón para desplazar a la izquierda las imágenes */
.Boton-left{
    position: absolute;
    top: calc( 50% - 2rem );
    left: 0;
    width: 4rem;
    height: 4rem;
    color: black;
    border: solid 2px rgb(0, 0, 0);
    z-index: 3;
}

@media (max-width: 768px){

    .Boton-left, .Boton-right{
        width: 2.5rem;
        height: 2.5rem;
        border: solid 1px rgb(0, 0, 0);
    }
}

@media (max-width: 480px){

    .Boton-left, .Boton-right{
        width: 2rem;
        height: 2rem;
        border: solid 1px rgb(0, 0, 0);
    }
}