/*--------------------------------------
Inicio.css

- Estilos para la sección de inicio.
- Estructura y diseño de los elementos de la sección de inicio.
- Estilos responsive para diferentes tamaños de la pantalla.
----------------------------------------*/

/* Contenedor principal de la sección inicio */
.Inicio{
    width: 80%;
    margin: auto;

    text-align: center;
}

/* Titulos principales */
.Inicio-h2{
    min-height: 5vh;
    margin: 5rem 0 2rem 0;

    font-family: Century Gothic, Arial, Helvetica, sans-serif;
    font-size: 3.3em;
    font-weight:600;
    line-height: 1;

    color: rgb(175, 6, 6);
}

.Inicio-h3{
    min-height: 5vh;
    margin: 3rem 0 5rem 0;

    font-family: Century Gothic, Arial, Helvetica, sans-serif;
    font-size: 2.5em;
    font-weight: bold;
    line-height: 1;

    color: rgb(175, 6, 6);
}

/* Contenedor secundario de la sección inicio */
.Inicio-div{
    width: 80%;
    margin: auto;
    display: flex;
    flex-flow: row ;
    justify-content: space-around;
    gap: 2rem;
}

/* Imágenes de la sección inicio */
.Inicio-imgA, .Inicio-imgB{
    width: 30rem;
    margin-bottom: 4rem;

    object-fit: contain;
}

/* Título para la sección de ofrecimientos */
.Ofrecer-h3{
    min-height: 5vh;
    margin: 3rem 0 3rem 0;

    font-family: Century Gothic, Arial, Helvetica, sans-serif;
    font-size: 2.5em;
    font-weight: bold;
    line-height: 1;
    
    color: rgb(175, 6, 6);
}

/* Párrafo para la sección de ofrecimientos */
.Offer-p{
    width: 80%;
    margin: auto;
    margin-bottom: 5rem;

    font-family: Century Gothic, Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    text-align: start;
}

/* Contenedor de elementos de ofrecimiento */
.Ofrecemos-div{
    min-height: 30vh;
    margin: 2rem 0 4rem 0;
}

/* Lista de elementos de ofrecimiento */
.Ofrecemos-ul{
    width: 80%;
    margin: auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items:flex-start;
    gap: 2rem;

    text-align: center;
}

/* Cada elemento de ofrecimiento */
.Ofrecemos-li{
    width: 32%;
    min-height: 30vh;
    padding: 2rem;

    background: #fecacc;
    border-radius: 21px;
    box-shadow:  5px 5px 37px #989898,
                 -5px -5px 37px #ffffff;
}

/* Imagen en elementos de ofrecimiento */
.Ofrecemos-img{
    top: 0;

    width: 4em;
    margin: auto;

    color: rgb(175, 6, 6);
}

/* Título en elementos de ofrecimientos */
.Ofrecemos-h4{
    width: 100%;
    min-height: 5vh;
    margin-top: 1rem;

    font-size: 1.7em;
    font-family: Century Gothic, Arial, Helvetica, sans-serif;
    line-height: 1;

    color: rgb(175, 6, 6);
}

/* Párrafo en elementos de ofrecimientos */
.Ofrecemos-p{
    margin-top: 1rem;

    font-family: Century Gothic, Arial, Helvetica, sans-serif;
    font-size: 1em;
    text-align: start;
}

/* Media query para pantallas inferiores a 1204px */
@media (max-width : 1024px){

    .Ofrecemos-ul{
       width: 90%;
    }

    .Ofrecemos-p{
        font-size: 1em;
    }

    .Inicio-imgA, .Inicio-imgB{
        width: 40%;
    }
    .Ofrecemos-p{
        font-size: .9em;
    }
}

/* Media query para pantallas inferiores a 960px */
@media (max-width : 960px){

    .Ofrecemos-ul{
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-around;
        align-items:center;
        
        text-align: center;
    }

    .Ofrecemos-li{
        width: 70%;
    }

    .Inicio-imgA, .Inicio-imgB{
        width: 40%;
    }
}

/* Media query para pantallas inferiores a 768px */
@media (max-width : 768px){

    .Ofrecemos-li{
        width: 90%;
    }

    .Inicio-imgA, .Inicio-imgB{
        width: 45%;
    }

    .Offer-p{
        width: 100%;
        font-size: 1em;
    }

    .Inicio-h2{
        font-size: 2.5em;
    }
    
    .Inicio-h3{
        font-size: 2em;
    }

    .Inicio-div{
       gap: 2rem;
    }

    .Ofrecer-h3{
        font-size: 2em;
    }

    .Offer-p{
       font-size: 1em;
    }
    
    .Ofrecemos-img{
        width: 3.5rem;
    }

    .Ofrecemos-h4{
        font-size: 1.7em;
    }

    .Ofrecemos-p{
        font-size: .9em;
    } 
}

/* Media query para pantallas inferiores a 480px */
@media (max-width : 480px){

    .Inicio-h2{
        font-size: 2em;
    }

    .Inicio-h3{
        font-size: 1.7em;
    }

    .Inicio-div{
       gap: 1.5rem;
    }

    .Ofrecer-h3{
        margin: 0 0 1rem 0;

        font-size: 1.7em;
    }
    .Offer-p{
       font-size: .8em;
    }
    
    .Ofrecemos-img{
        width: 3rem;
    }

    .Ofrecemos-h4{
        font-size: 1.5em;
    }
    
    .Ofrecemos-p{
        font-size: .8em;
    }
    
}