.Header{
    
}
.Header-logo{
    position: relative;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;

    background-color: rgb(29, 155, 155);
}
.Bonanza{
    background-color: rgb(163, 163, 245);
    min-width: 10rem;
    max-width: 17rem;
    
}
.Img-bonanza{
   
}
.Partner{

}

.Canon{
    background-color: rgb(236, 222, 94);
    
}
.Canon-img{
    background-color: rgb(219, 80, 80);
    
}

.Header-nav{
margin: 2rem 0 2rem 0;
background-color: aqua;
}
.HeaderNav-ul{
    position: relative;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;

}
.HeaderNav-li{

}
.HeaderNav-a{

}