/* Sin comentarios porque realizaré muchos cambios. 
Ningún archivo CSS con código escrito es definitivo 
y la mayoria estan vacíos*/

.Container-login{
    background-color: rgb(255, 255, 255);

    

    width: 100%;
    min-height: 15vh;
    margin: auto;
    /* width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
     */

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    
    
}

.Canon-portada{
    
    
    background-color: rgb(145, 145, 245);
    width: 15rem;
    margin: 2rem;
    
}


.Bonanza-portada{
    background-color: rgb(187, 255, 0);
    width: 15rem;
    margin: 2rem;
    

}

.Imagen-canon{
    width: 10rem;
    margin: auto;
    margin-bottom: 3rem;
    
}
.Open-login{
    position: relative;
    display: flex;
    gap: 0.5rem;
    width: 15rem;
    margin: 2rem;
   
    
    
    
}
.Open-btn{
    background-color: rgb(182, 30, 30);
    width: 10rem;
    color: #fff;
    padding: 0.5rem;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    
    
}

.Portada-container{
    background: url("/assets/canonoficina.png") no-repeat center center / cover;
    width: 100%;
    min-height: 85vh;
   
}

.Img-portada{
    
    
    /* top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: -1;
    
     background-color: lightgreen;
     margin: auto;
     width: 100%;
     object-fit: cover;
     width: 50vw;
    
     top: 0;
     left: 0;
     right: 0;
     bottom: 0;
     margin: auto;
     z-index: -1;
      */
}

.Login, .Crear{
    background-color: white;
    border-radius: 1rem;
    padding: 1.5rem;
    
    width: 25rem;
    max-width: 80vw;
    
    opacity: 0;
    pointer-events: none;
    
    border: 0.2rem solid rgb(182, 30, 30);

    position: fixed;
    
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    
    
    
}

.Login.isActive{
    opacity: 1;
    pointer-events: auto;
}



.Crear.isActive{
    opacity: 1;
    pointer-events: auto;
}

.Close-btn{
    width: 1.5rem;
    
    margin: auto;
    cursor: pointer;
    margin-bottom: 3rem;
    color: rgb(182, 30, 30);
    
    
}

.Caja-continuar {
    border-radius: 0.25rem;
    border: 0.2rem solid rgb(182, 30, 30);
    width: 100%;
    padding: 0.5rem;
    margin: 2rem 1rem 2rem 0rem;
    background-color: rgb(182, 30, 30);
    color: white;
    display: flex;
    justify-content: center;
    cursor: pointer;
    
    
    
}


.Placeholder{
    width: 100%;
    border: 0.2rem solid rgb(182, 30, 30);
    padding: 0.5rem;
    
    
}

.Caja-iniciar, .Caja-login {
    text-align: left;
    font-weight: bolder;
    margin: 1rem 0 0.5rem 0;
    color: rgb(182, 30, 30);
    

}